{{$generator:=.}}
{{$node:=.EntNode}}

import {
  Button,
  Table,
  Thead,
  Tbody,
  Tfoot,
  Tr,
  Th,
  Td,
  TableCaption,
  TableContainer,
  VStack,
} from '@chakra-ui/react'

import{ useState, useEffect } from 'react';

function {{$node.Name}}List(){
  const [records, setRecords] = useState([])

  return (
    <TableViewer records={records}/>
  )
}

function TableViewer({records=[]}){
  const recordItems = records.map(record=>
    <Tr>
        {{range $node.Fields}}
          <Td>record["{{.Name}}"]</Td>
        {{end}}
    </Tr>
  )

  return (
  <>
    <Button>Add a {{$node.Name}}</Button>
    <TableContainer>
      <Table>
        <Thead>
          <Tr>
            {{range $node.Fields}}
            {{$field:=.}}
            <Th>{{$field.Name}}</Th>
            {{end}}
          </Tr>
        </Thead>

        <Tbody>
          {recordItems}
        </Tbody>
      </Table>
      
      
    </TableContainer>
  </>
  )
}

export{
  {{$node.Name}}List
}
