{{$generator:=.}}
{{$nodes:=$generator.Nodes}}

import {Config} from "Config";

export class Client {
  constructor(serverURL=Config.serverURL) {
    this.serverURL = serverURL
  }

  {{range $nodes}}
    {{$node:=.}}
  {{$node.Name}}(){
    return new {{$node.Name}}(this)
  }
  {{end}}
}

{{range $nodes}}
  {{$node:=.}}
class {{$node.Name}} {
  constructor(client) {
    this.client = client
  }

  build_url(){
    var url = new URL(this.client.serverURL)
    url.pathname = "/"+"{{$node.Name}}".toLowerCase()
    return url
  }

  create(obj){
    var url = this.build_url()
    return fetch(
      new Request(
        url,
        {
          method:"POST",
          mode:'no-cors',
          body:JSON.stringify(obj)
        }
      )
    )
  }

  list(req){
    var url = this.build_url()
    url.search = new URLSearchParams(req).toString()
    return fetch(new Request(url,{method:"GET",mode:'no-cors'}))
  }
}
{{end}}
