{{$generator:=.}}
{{$nodes:=$generator.Nodes}}

import { Tabs, TabList, TabPanels, Tab, TabPanel, Button } from '@chakra-ui/react';
{{range $nodes}}
  {{$node:=.}}
  import { {{$node.Name}}List } from "../components/entities/{{$node.Name}}List"
{{end}}

function Entities(){
  return (
      <Tabs> 
        <TabList>
          {{ range $nodes }}
            <Tab>{{.Name}}</Tab>
          {{ end }}
        </TabList>

        <TabPanels>
          {{ range $nodes }}
            {{$node:=.}}
            <TabPanel>
            <Button />
            <{{$node.Name}}List/>
            </TabPanel>
          {{ end }}

        </TabPanels>
      </Tabs>
  )
}

export {
  Entities,
}
