{{$generator:=.}}
{{$nodes:=$generator.Nodes}}

import { Tabs, TabList, TabPanels, Tab, TabPanel, Button, Input } from '@chakra-ui/react';
import {useState} from 'react';
{{range $nodes}}
  {{$node:=.}}
  import { {{$node.Name}}List } from "../components/entities/{{$node.Name}}List"
{{end}}

function Entities(){
  const [expandForm, setExpandForm] = useState(false)
  return (
      <Tabs> 
        <TabList>
          {{ range $nodes }}
            <Tab>{{.Name}}</Tab>
          {{ end }}
        </TabList>

        <TabPanels>
          {{ range $nodes }}
            {{$node:=.}}
            <TabPanel>
            <{{$node.Name}}List/>
            </TabPanel>
          {{ end }}

        </TabPanels>
      </Tabs>
  )
}

function Form({expand}){
  if (!expand){
    return null;
  }
  return(
  <>
    <Input placeholder='name'/>
    <Button>Submit</Button>
  </>
  )
}

export {
  Entities,
}
